<div class="row mx-3 py-3">
  <h5>Customer</h5>
  <form (ngSubmit)="onSubmit()">
    <div class="row py-3">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Customer Id"
          aria-label="Customer Id"
          [(ngModel)]="customerDetails.customerId"
          name="customerId"
          [disabled]="disableCustomerIdInput"
        />
      </div>
      <div class="col">
        <input
          type="date"
          class="form-control"
          placeholder="Registration Date"
          aria-label="Registration Date"
          [(ngModel)]="customerDetails.registrationDate"
          name="registrationDate"
        />
      </div>
    </div>
    <div class="row py-3">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          aria-label="First name"
          [(ngModel)]="customerDetails.firstName"
          name="firstName"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          aria-label="Last name"
          [(ngModel)]="customerDetails.lastName"
          name="lastName"
        />
      </div>
    </div>
    <div class="row py-3">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Phone Number"
          aria-label="Phone Number"
          [(ngModel)]="customerDetails.phone"
          name="phone"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          aria-label="Email"
          [(ngModel)]="customerDetails.email"
          name="email"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">{{btnText}}</button>
  </form>
</div>
